################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LMS/bin/Debug/net6.0/*
/LMS.UnitTest/obj/Debug/net6.0/*
/LMS.UnitTest/bin/*
/LMS.UnitTest/bin/Debug/net6.0/LMS.UnitTest.dll
/LMS.UnitTest/bin/Debug/net6.0/nunit_random_seed.tmp
/LMS.UnitTest/bin/Debug/net6.0/LMS.UnitTest.pdb
/LMS.Infrastructure/obj/Debug/net6.0/ref/LMS.Infrastructure.dll
/LMS.Infrastructure/obj/Debug/net6.0/refint/LMS.Infrastructure.dll
*.BuildWithSkipAnalyzers
/LMS.Infrastructure/obj/Debug/net6.0/LMS.Infrastructure.pdb
/LMS.Infrastructure/obj/Debug/net6.0/LMS.Infrastructure.dll
/LMS.Infrastructure/bin/Debug/net6.0/LMS.Infrastructure.dll
/LMS.Infrastructure/bin/Debug/net6.0/LMS.Infrastructure.pdb
/LMS/bin/Debug/net6.0/LMS.Infrastructure.pdb
/LMS/bin/Debug/net6.0/LMS.Infrastructure.dll
/LMS/bin/Debug/net6.0/LMS.API.pdb
/LMS/obj/Debug/net6.0/LMS.API.pdb
/LMS/obj/Debug/net6.0/LMS.API.csproj.AssemblyReference.cache
/LMS/obj/Debug/net6.0/LMS.API.dll
/.vs/LMS/DesignTimeBuild/.dtbcache.v2
/.vs/LMS/FileContentIndex/32b1e8ed-13fb-4bb3-9473-ba3a7eb873f6.vsidx
/.vs/LMS/FileContentIndex/75a59be7-3a73-4c79-9fbf-f3017a478c96.vsidx
*.vsidx
/.vs/LMS/FileContentIndex/a2f15848-5997-42ce-bfb4-1bb33862c7cc.vsidx
*.testlog
/.vs/LMS/v17/TestStore/0/000.testlog
/.vs/LMS/v17/.suo
/.vs/LMS/FileContentIndex/f7d75f86-0e58-47fa-b7f4-3ccfcdd9e662.vsidx
/LMS/bin/Debug/net6.0/LMS.Application.dll
/LMS/bin/Debug/net6.0/LMS.Application.pdb
/LMS.Application/bin/Debug/net6.0/LMS.Application.dll
/LMS.Application/bin/Debug/net6.0/LMS.Application.pdb
/LMS.Application/obj/Debug/net6.0/LMS.Application.pdb
/LMS.Application/obj/Debug/net6.0/LMS.Application.dll
/LMS.Infrastructure/bin/Debug/net6.0/LMS.Application.dll
/LMS.Infrastructure/bin/Debug/net6.0/LMS.Application.pdb
/LMS.Infrastructure/obj/Debug/net6.0/LMS.Infrastructure.csproj.AssemblyReference.cache
/LMS.UnitTest/bin/Debug/net6.0/LMS.Application.dll
/LMS.UnitTest/bin/Debug/net6.0/LMS.Application.pdb
/LMS/bin/Debug/net6.0/LMS.CoreBusiness.dll
