################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LMS/bin/Debug/net6.0/*
/LMS.UnitTest/obj/Debug/net6.0/*
/LMS.UnitTest/bin/Debug/net6.0/*
/LMS.UnitTest/bin/Debug/net6.0/LMS.UnitTest.dll
/LMS.UnitTest/bin/Debug/net6.0/nunit_random_seed.tmp
/LMS.UnitTest/bin/Debug/net6.0/LMS.UnitTest.pdb
/LMS.Infrastructure/obj/Debug/net6.0/ref/LMS.Infrastructure.dll
/LMS.Infrastructure/obj/Debug/net6.0/refint/LMS.Infrastructure.dll
*.BuildWithSkipAnalyzers
/LMS.Infrastructure/obj/Debug/net6.0/LMS.Infrastructure.pdb
/LMS.Infrastructure/obj/Debug/net6.0/LMS.Infrastructure.dll
/LMS.Infrastructure/bin/Debug/net6.0/LMS.Infrastructure.dll
/LMS.Infrastructure/bin/Debug/net6.0/LMS.Infrastructure.pdb
/LMS/bin/Debug/net6.0/LMS.Infrastructure.pdb
/LMS/bin/Debug/net6.0/LMS.Infrastructure.dll
/LMS/bin/Debug/net6.0/LMS.API.pdb
/LMS/obj/Debug/net6.0/LMS.API.pdb
/LMS/obj/Debug/net6.0/LMS.API.csproj.AssemblyReference.cache
/LMS/obj/Debug/net6.0/LMS.API.dll
/.vs/LMS/DesignTimeBuild/.dtbcache.v2
/.vs/LMS/FileContentIndex/32b1e8ed-13fb-4bb3-9473-ba3a7eb873f6.vsidx
/.vs/LMS/FileContentIndex/75a59be7-3a73-4c79-9fbf-f3017a478c96.vsidx
*.vsidx
/.vs/LMS/FileContentIndex/a2f15848-5997-42ce-bfb4-1bb33862c7cc.vsidx
*.testlog
/.vs/LMS/v17/TestStore/0/000.testlog
/.vs/LMS/v17/.suo
/.vs/LMS/FileContentIndex/f7d75f86-0e58-47fa-b7f4-3ccfcdd9e662.vsidx
/LMS/bin/Debug/net6.0/LMS.Application.dll
/LMS/bin/Debug/net6.0/LMS.Application.pdb
/LMS.Application/bin/Debug/net6.0/LMS.Application.dll
/LMS.Application/bin/Debug/net6.0/LMS.Application.pdb
/LMS.Application/obj/Debug/net6.0/LMS.Application.pdb
/LMS.Application/obj/Debug/net6.0/LMS.Application.dll
/LMS.Infrastructure/bin/Debug/net6.0/LMS.Application.dll
/LMS.Infrastructure/bin/Debug/net6.0/LMS.Application.pdb
/LMS.Infrastructure/obj/Debug/net6.0/LMS.Infrastructure.csproj.AssemblyReference.cache
/LMS.UnitTest/bin/Debug/net6.0/LMS.Application.dll
/LMS.UnitTest/bin/Debug/net6.0/LMS.Application.pdb
/LMS/bin/Debug/net6.0/LMS.CoreBusiness.dll
/LMS.Application/obj/Debug/net6.0/LMS.Application.csproj.CoreCompileInputs.cache
/LMS.Application/obj/Debug/net6.0/refint/LMS.Application.dll
/LMS.Application/obj/Debug/net6.0/ref/LMS.Application.dll
/LMS/obj/Debug/net6.0/refint/LMS.API.dll
/LMS/obj/Debug/net6.0/LMS.API.csproj.CoreCompileInputs.cache
/LMS/obj/Debug/net6.0/ref/LMS.API.dll
/LMS/bin/Debug/net6.0/LMS.CoreBusiness.pdb
/LMS.CoreBusiness/obj/Debug/net6.0/LMS.CoreBusiness.GeneratedMSBuildEditorConfig.editorconfig
/LMS.Application/obj/Debug/net6.0/LMS.Application.assets.cache
/LMS.Application/obj/Debug/net6.0/LMS.Application.GeneratedMSBuildEditorConfig.editorconfig
/LMS.UnitTest/bin/Debug/net6.0/CoverletSourceRootsMapping
/LMS.CoreBusiness/obj/Debug/net6.0/LMS.CoreBusiness.assets.cache
/LMS.UnitTest/obj/Debug/net6.0/LMS.UnitTest.assets.cache
/LMS.UnitTest/obj/Debug/net6.0/LMS.UnitTest.GeneratedMSBuildEditorConfig.editorconfig
/.vs/LMS/v17/.futdcache.v2
/.vs/ProjectEvaluation/lms.metadata.v5.2
/.vs/ProjectEvaluation/lms.projects.v5.2
/LMS/bin/Debug/net6.0/LMS.API.exe
/LMS/obj/Debug/net6.0/apphost.exe
/LMS/obj/Debug/net6.0/LMS.API.assets.cache
/LMS/obj/Debug/net6.0/LMS.API.csproj.FileListAbsolute.txt
/LMS/obj/Debug/net6.0/LMS.API.GeneratedMSBuildEditorConfig.editorconfig
/LMS/obj/Debug/net6.0/LMS.API.genruntimeconfig.cache
/LMS/obj/LMS.API.csproj.nuget.g.props
/LMS/obj/project.nuget.cache
/LMS/obj/project.assets.json
/LMS.Application/bin/Debug/net6.0/LMS.CoreBusiness.pdb
/LMS.Application/bin/Debug/net6.0/LMS.CoreBusiness.dll
/LMS.Application/obj/Debug/net6.0/LMS.Application.csproj.AssemblyReference.cache
/LMS/obj/LMS.API.csproj.nuget.dgspec.json
/LMS.Application/obj/Debug/net6.0/LMS.Application.csproj.FileListAbsolute.txt
/LMS.Application/obj/LMS.Application.csproj.nuget.g.props
/LMS.Application/obj/LMS.Application.csproj.nuget.dgspec.json
/LMS.Application/obj/project.assets.json
/LMS.Application/obj/project.nuget.cache
/LMS.CoreBusiness/bin/Debug/net6.0/LMS.CoreBusiness.dll
/LMS.CoreBusiness/bin/Debug/net6.0/LMS.CoreBusiness.pdb
/LMS.CoreBusiness/obj/Debug/net6.0/LMS.CoreBusiness.csproj.AssemblyReference.cache
/LMS.CoreBusiness/obj/Debug/net6.0/LMS.CoreBusiness.csproj.CoreCompileInputs.cache
/LMS.CoreBusiness/obj/Debug/net6.0/LMS.CoreBusiness.csproj.FileListAbsolute.txt
/LMS.CoreBusiness/obj/Debug/net6.0/LMS.CoreBusiness.dll
/LMS.UnitTest/bin/Debug/net6.0/LMS.CoreBusiness.dll
/LMS.UnitTest/bin/Debug/net6.0/LMS.API.exe
/LMS.UnitTest/bin/Debug/net6.0/LMS.CoreBusiness.pdb
/LMS.UnitTest/obj/LMS.UnitTest.csproj.nuget.dgspec.json
/LMS.UnitTest/obj/LMS.UnitTest.csproj.nuget.g.props
/LMS.UnitTest/obj/project.assets.json
/LMS.UnitTest/obj/project.nuget.cache
/LMS.UnitTest/obj/Debug/net6.0/LMS.UnitTest.genruntimeconfig.cache
/lms.react-ui/src/components/bookcase/services.js
*.pdb
*.json
*.props
*.cache
/LMS.Infrastructure/obj/Debug/net6.0/LMS.Infrastructure.assets.cache
/LMS.Infrastructure/obj/Debug/net6.0/LMS.Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
/.vs/ProjectEvaluation/lms.metadata.v6.1
/.vs/ProjectEvaluation/lms.projects.v6.1
/LMS/bin/Debug/net6.0/runtimes/browser/lib/net6.0/System.Text.Encodings.Web.dll
/LMS/bin/Debug/net6.0/Humanizer.dll
/LMS/bin/Debug/net6.0/LMS.API.deps.json
/LMS/bin/Debug/net6.0/Mono.TextTemplating.dll
/LMS/bin/Debug/net6.0/System.CodeDom.dll
/LMS/bin/Debug/net6.0/Microsoft.Extensions.DependencyModel.dll
/LMS/bin/Debug/net6.0/System.Text.Encodings.Web.dll
/LMS/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Design.dll
/LMS/bin/Debug/net6.0/System.Text.Json.dll
/LMS/obj/Debug/net6.0/LMS.API.MvcApplicationPartsAssemblyInfo.cs
/LMS/obj/LMS.API.csproj.nuget.g.targets
/LMS.Infrastructure/bin/Debug/net6.0/LMS.CoreBusiness.dll
/LMS.Infrastructure/bin/Debug/net6.0/LMS.CoreBusiness.pdb
/LMS.Infrastructure/obj/LMS.Infrastructure.csproj.nuget.dgspec.json
/LMS.Infrastructure/obj/Debug/net6.0/LMS.Infrastructure.csproj.CoreCompileInputs.cache
/LMS.Infrastructure/obj/Debug/net6.0/LMS.Infrastructure.genruntimeconfig.cache
/LMS.Infrastructure/obj/project.assets.json
/LMS.Infrastructure/obj/project.nuget.cache
/LMS.Infrastructure/obj/Debug/net6.0/LMS.Infrastructure.csproj.FileListAbsolute.txt
/LMS.Infrastructure/obj/LMS.Infrastructure.csproj.nuget.g.props
/LMS.UnitTest/bin/Debug/net6.0/LMS.API.deps.json
/LMS.CoreBusiness/obj/Debug/net6.0/ref/LMS.CoreBusiness.dll
/LMS.CoreBusiness/obj/Debug/net6.0/refint/LMS.CoreBusiness.dll
/LMS.BlazorUI/bin/Debug/net6.0/LMS.BlazorUI.dll
/LMS.BlazorUI/obj/Debug/net6.0/ref/LMS.BlazorUI.dll
/LMS.BlazorUI/obj/Debug/net6.0/refint/LMS.BlazorUI.dll
/LMS.BlazorUI/obj/Debug/net6.0/LMS.BlazorUI.dll

/LMS.BlazorUI/obj/Debug/net6.0/LMS.BlazorUI.GeneratedMSBuildEditorConfig.editorconfig
