@page "/members"
@layout DashboardLayout

<Breadcrumb title="Members" />

<CardComponent title="List of Members">

    <bodyFragment>
        <Datatable id="membersTable">
            <Content>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Document Number</th>
                    <th>Phone Number</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="row">1</td>
                    <td>Ivan</td>
                    <td>Michel</td>
                    <td>132456456</td>
                    <td> 00 000 0000</td>
                    <td>
                        <a class="text-info" href="/" data-bs-toggle="tooltip" data-bs-placement="top" title="Update Member">
                            <i class="bi bi-pencil"></i>
                        </a>
                        <a class="text-danger" href="/" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete Member">
                            <i class="bi bi-dash-circle"></i>
                        </a>
                        <a class="text-primary" href="/" data-bs-toggle="tooltip" data-bs-placement="top" title="Recover Deleted Member">
                            <i class="bi bi-plus-circle"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
            </Content>
        </Datatable>
    </bodyFragment>

    <footerFragment>
        <div class="text-center">
            <a class="btn btn-outline-success" href="new-member" data-bs-toggle="tooltip" data-bs-placement="top" title="Add Member">
                <i class="bi bi-plus"></i> New
            </a>
        </div>
    </footerFragment>

</CardComponent>


@code {

}
