
<div class="card">
    <div class="card-body">
        <h5 class="card-title">@title</h5>
        @bodyFragment
    </div>
    <div class="card-footer">
       <div class="text-center">
            @footerFragment
       </div>
    </div>
</div>


@code {
    [Parameter]
    public string title { get; set; }

    [Parameter]
    public RenderFragment bodyFragment { get; set; }
    [Parameter]
    public RenderFragment footerFragment { get; set; }
}
