<div class="col-12 col-md-4 mb-4">
    <div class="card h-100">
        <a href="shop-single.html">
            <img src="@book.ImageUrl" class="card-img-top rounded-0" alt="@book.Title" width="500" height="280">
        </a>
        <div class="card-body">
            <a href="shop-single.html" class="h2 text-decoration-none text-dark">@book.Title</a>
            <p class="card-text">
                @book.Description
            </p>
            <p class="text-muted">250</p>
        </div>
    </div>
</div>
@code {
    [Parameter]
    public Book book { get; set; }
}
