@inject IBookService Service

<!-- Start Latest Products -->
<section class="bg-light">
    <div class="container py-5">
        <div class="row text-center py-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h1">Latest Products</h1>
                <p>
                    The world is a beautiful book, but it is of a little use to those who cannot read it.
                </p>
            </div>
        </div>
        <div class="row">
            @if (books is not null)
            {
                foreach (var book in books)
                {
                    <ItemCardComponent book="book" cssClass="col-md-3" />
                }
            }
        </div>
        <div class="row">
            <div class="col text-center mt-2">
                <button type="submit" class="btn btn-outline-success btn-lg px-3">More <i class="fa fa-arrow-right"></i></button>
            </div>
        </div>
    </div>
</section>
<!-- End Featured Product -->

@code {
    private IEnumerable<Book> books;

    protected override async Task OnInitializedAsync()
    {
        books = await Service.GetAllAsync();
    }
}
