

<div class="modal" id="verticalycentered" tabindex="-1" style="@cssStyle">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@_title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" @onclick="@DismissModal"></button>
            </div>
            <div class="modal-body">
                @bodyFragment
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" @onclick="@DismissModal">Close</button>
                @footerFragment
            </div>
        </div>
    </div>
</div>

@code {
    private string _title { get; set; }
    private string cssStyle { get; set; } = "display: none;";
    public string _operation { get; set; }
    public int _id { get; set; }

    [Parameter]
    public RenderFragment bodyFragment { get; set; }
    [Parameter]
    public RenderFragment footerFragment { get; set; }

    public void DismissModal()
    {
        cssStyle = "display: none;";
    }

    public void DisplayModal(string operation, string title, int id = 0)
    {
        _operation = operation;
        _id = id;
        _title = title;
        cssStyle = "display: block;";
    }
}
