<aside id="sidebar" class="sidebar @collapseState">

	<ul class="sidebar-nav" id="sidebar-nav">

		<li class="nav-item">
			<NavLink class="nav-link collapsed" href="/">
				<i class="bi bi-grid"></i>
				<span>Home</span>
			</NavLink>
		</li><!-- End Dashboard Nav -->

        <li class="nav-item">
			<a class="nav-link collapsed" data-bs-target="#management-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-bar-chart"></i>
                <span>Management</span>
                <i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="management-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                <li>
                    <NavLink href="librarians">
						<i class="bi bi-circle"></i><span>Librarians</span>
                    </NavLink>
                    <NavLink href="members">
						<i class="bi bi-circle"></i><span>Members</span>
                    </NavLink>
                    <NavLink href="users">
						<i class="bi bi-circle"></i><span>Users</span>
                    </NavLink>
                </li><!-- End Management Nav -->
                
            </ul>
        </li><!-- End Management Nav -->

		<li class="nav-item">
			<NavLink class="nav-link collapsed" href="categories">
				<i class="bi bi-folder"></i>
				<span>Categories</span>
			</NavLink>
		</li><!-- End Categories Nav -->

		<li class="nav-item">
			<NavLink class="nav-link collapsed" href="authors">
				<i class="bi bi-journal-text"></i>
				<span>Authors</span>
			</NavLink>
		</li><!-- End Authors Nav -->

		<li class="nav-item">
			<NavLink class="nav-link collapsed" href="books">
				<i class="bi bi-book"></i>
				<span>Books</span>
			</NavLink>
		</li><!-- End Books Nav -->
			
		<li class="nav-item">
			<NavLink class="nav-link collapsed" href="loans">
				<i class="bi bi-list-check"></i>
				<span>Loans</span>
			</NavLink>
		</li><!-- End Loans Nav -->
			
		<li class="nav-item">
			<NavLink class="nav-link collapsed" href="reservations">
				<i class="bi bi-menu-button-wide"></i>
				<span>Reservations</span>
			</NavLink>
		</li><!-- End Reservations Nav -->
			
		
	</ul>

</aside>
@code{
	[Parameter]
	public string collapseState { get; set; }
}