@inherits LayoutComponentBase

<PageTitle>LMS.BlazorUI</PageTitle>

<div class="page">
    <nav class="navbar navbar-expand-lg bg-dark navbar-light d-none d-lg-block" id="templatemo_nav_top">

    </nav>
    
    <NavMenu />

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
