
@layout DashboardLayout

@inject ICategoryService Service
@inject NavigationManager NavigationManager

<EditForm Model="@category" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <input type="text" class="form-control" id="name"
               placeholder="Category Name" autocomplete="off"
               @bind-value="category.CategoryName">
    </div>

</EditForm>

@code {
    private Category category = new Category();

    public void OnValidSubmit()
    {
        var result = Service.CreateAsync(category);

        NavigationManager.NavigateTo("categories", true);
    }

}
