
@page "/category-add"
@layout DashboardLayout

@inject ICategoryService Service
@inject NavigationManager NavigationManager

<Breadcrumb title="New Category" />

<EditForm Model="@category" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <input type="text" class="form-control" id="name"
               placeholder="Category Name" autocomplete="off"
               @bind-value="category.CategoryName">
    </div>

    <button type="submit" class="btn btn-outline-success mt-3">
        <i class="bi bi-save"></i> Save
    </button>

</EditForm>

@code {
    private Category category = new Category();

    private void OnValidSubmit()
    {
        var result = Service.CreateAsync(category);

        NavigationManager.NavigateTo("categories", true);
    }

}
