@page "/categories/delete/{categoryId:int}"
@layout DashboardLayout

@inject ICategoryService Service
@inject NavigationManager NavigationManager

<div class="pagetitle">
    <h1>Delete Category</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <NavLink href="dashboard">
                    Dashboard
                </NavLink>
            </li>
            <li class="breadcrumb-item">
                <NavLink href="Categories">
                    Category
                </NavLink>
            </li>
            <li class="breadcrumb-item active">Delete Category</li>
        </ol>
    </nav>
</div>

<EditForm Model="@category" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator />
        <CardComponent title="Delete Category">
            <bodyFragment>

                <p>You are about to delete the category named <i>@category.CategoryName</i></p>

            </bodyFragment>
            <footerFragment>
                <a class="btn btn-outline-secondary" href="/authors">
                    Cancel
                </a>
                <button type="submit" class="btn btn-outline-success">
                    <i class="bi bi-save"></i> Save
                </button>
            </footerFragment>
        </CardComponent>
</EditForm>

@code {
    private Category category = new Category();

    [Parameter]
    public int categoryId { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        var response = await Service.GetByAsync(categoryId);
        category = response.ResponseData;
    }

    public async Task OnValidSubmit()
    {
        var result = await Service.DeleteAsync(category.Id);
        string message = result.Succeeded ? ResponseStatus.SUCCESS : ResponseStatus.ERROR;

        NavigationManager.NavigateTo($"categories/{message}", true);
    }

}