
@page "/categories"
@layout DashboardLayout

@inject IJSRuntime JS
@inject ICategoryService Service

<Breadcrumb title="Categories"/>

<CardComponent title="List of Categories">

    <bodyFragment>
        <div class="table-responsive">
            <table class="table table-sm table-hover" id="categoryTable" style="width: 100%;" cellspacing="0">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody>
                    @if (categories is not null)
                    {
                        foreach (var category in categories)
                        {
                            <tr>
                                <td scope="row">@category.Id</td>
                                <td>@category.CategoryName</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </bodyFragment>

    <footerFragment>
        <NavLink class="btn btn-link text-success" href="category-add" data-bs-toggle="tooltip"
                 data-bs-placement="top" title="Add Category">
            <i class="bi bi-plus"></i> New
        </NavLink>
    </footerFragment>

</CardComponent>

@code {
    private IEnumerable<Category> categories;

    protected override async Task OnInitializedAsync()
    {
        categories = await Service.GetAsync();
        StateHasChanged();
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if(firstRender)
            JS.InvokeVoidAsync("addDatatable", "#categoryTable");
    }
}
