
@page "/categories"
@page "/categories/{responseStatus}"
@layout DashboardLayout

<div class="pagetitle">
    <h1>Categories</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Dashboard</li>
            <li class="breadcrumb-item active">Categories</li>
        </ol>
    </nav>
</div>

@if(responseStatus is not null)
{
    Console.WriteLine(responseStatus);
    if(responseStatus.Equals(ResponseStatus.SUCCESS))
    {
        <AlertComponent alertMessage="Success." alertType="success" />
    } else if(responseStatus.Equals(ResponseStatus.ERROR))
    {
        <AlertComponent alertMessage="An error occured while performing operation." alertType="danger" />
    }
}

<CardComponent title="List of Categories">

    <bodyFragment>
        <TableComponent>
            <Content>
                <thead>
                    <tr>
                        <th>
                            <label @onclick="@(() => SortByColumn("Name"))"><b>Name</b></label>
                        </th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                        @if (categories is not null)
                        {
                            <Virtualize Items="categories" Context="category">
                                <tr>
                                    <td>@category.CategoryName</td>
                                    <td>
                                        <a class="btn text-info" href="/categories/update/@category.Id"
                                                data-bs-toggle="tooltip" data-bs-placement="top" title="Update Category">
                                            <i class="bi bi-pencil"></i>
                                        </a>

                                        <a class="btn text-danger" href="/categories/delete/@category.Id"
                                                data-bs-toggle="tooltip" data-bs-placement="top" title="Delete Category">
                                            <i class="bi bi-trash"></i>
                                        </a>
                                    </td>
                                </tr>
                            </Virtualize>
                        }
                </tbody>
            </Content>
        </TableComponent>
        <PaginationComponent totalPages="_totalPages" OnPageChange="HandlePageChange"></PaginationComponent>
    </bodyFragment>

    <footerFragment>
        <a class="btn btn-outline-success" href="/categories/new" data-bs-toggle="tooltip" data-bs-placement="top" title="Add Category">
            <i class="bi bi-plus"></i> New
        </a>
        
    </footerFragment>

</CardComponent>
