@page "/categories/update/{categoryId:int}"
@layout DashboardLayout

<div class="pagetitle">
    <h1>New Category</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <NavLink href="dashboard">
                    Dashboard
                </NavLink>
            </li>
            <li class="breadcrumb-item">
                <NavLink href="categories">
                    Categories
                </NavLink>
            </li>
            <li class="breadcrumb-item active">New Category</li>
        </ol>
    </nav>
</div>

<EditForm Model="@category" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator />

    <CardComponent title="New Author">
        <bodyFragment>
            <div class="form-group">
                <input type="text" class="form-control" id="name"
                    placeholder="Category Name" autocomplete="off"
                    @bind-value="category.CategoryName">
            </div>
        </bodyFragment>
        <footerFragment>
            <a class="btn btn-outline-secondary" href="/authors">
                Cancel
            </a>
            <button type="submit" class="btn btn-outline-success">
                <i class="bi bi-save"></i> Save
            </button>
        </footerFragment>
    </CardComponent>
</EditForm>
