@page "/update-librarian"
@layout DashboardLayout

@inject IAuthorService Service
@inject NavigationManager NavigationManager


<Breadcrumb title="Librarians" />

<CardComponent title="New Librarian">
    <bodyFragment>
        <EditForm Model="@librarian" OnValidSubmit="@OnValidSubmit">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <div class="row">
                <div class="form-group col-lg-4 col-md-6">
                    <label class="form-label">First Name</label>
                    <input type="text" class="form-control"
                           placeholder="John" autocomplete="off"
                           @bind-value="librarian.FirstName">
                </div>

                <div class="form-group col-lg-4 col-md-6">
                    <label class="form-label">Last Name</label>
                    <input type="text" class="form-control"
                           placeholder="Doe" autocomplete="off"
                           @bind-value="librarian.LastName">
                </div>

                <div class="form-group col-lg-4 col-md-6">
                    <label class="form-label">Address</label>
                    <input type="text" class="form-control"
                           placeholder="Street 1 Avenue 1" autocomplete="off"
                           @bind-value="librarian.Address">
                </div>

                <div class="form-group col-lg-4 col-md-6">
                    <label class="form-label">Phone Number</label>
                    <input type="text" class="form-control"
                           placeholder="XX XXX XXXX" autocomplete="off"
                           @bind-value="librarian.PhoneNumber">
                </div>

                <div class="form-group col-lg-4 col-md-6">
                    <label class="form-label">Email Address</label>
                    <input type="text" class="form-control"
                           placeholder="jdoe@example.com" autocomplete="off"
                           @bind-value="librarian.Email">
                </div>

            </div>

        </EditForm>
    </bodyFragment>
    <footerFragment>
        <div class="text-center">
            <button type="submit" class="btn btn-outline-secondary">
                Cancel
            </button>
            <button type="submit" class="btn btn-outline-success">
                <i class="bi bi-save"></i> Save
            </button>
        </div>
    </footerFragment>
</CardComponent>

@code {
    private Librarian librarian = new Librarian();

    private void OnValidSubmit()
    { }
}
