@layout DashboardLayout

@inject IAuthorService Service
@inject NavigationManager NavigationManager

<EditForm Model="@author" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group mb-2">
        <input type="text" class="form-control" id="name"
               placeholder="John" autocomplete="off"
               @bind-value="author.FirstName">
    </div>

    <div class="form-group mb-2">
        <input type="text" class="form-control" id="name"
               placeholder="Doe" autocomplete="off"
               @bind-value="author.LastName">
    </div>

    <div class="form-group mb-2">
        <input type="text" class="form-control" id="name"
               placeholder="Marte" autocomplete="off"
               @bind-value="author.Nationality">
    </div>

</EditForm>

@code {
    private Author author = new Author();

    public void OnValidSubmit()
    {
        var result = Service.CreateAsync(author);

        NavigationManager.NavigateTo("authors", true);
    }

}
